.Subtitle {
    color: white;
    font-size: 5em;
    letter-spacing: .25em;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding: 15%;
    padding-bottom: .1em;
    border-bottom: 1px solid white;
    font-weight: 100;
   }
  
   .folderBar {
     display: flex;
     width: 60%;
     margin: 0 auto;
     margin-top: 5em;
    justify-content: space-around;
  
   }
  
   h2{
    color: white;
   }
  
   .folder {
    width: 10em;
    font-size: 2em;
    color: white;
    background-color: rgb(0,0,0,.4);
    border: 1px white solid;
    margin-inline: 1em;
    cursor: pointer;
   }
   .folder:hover {
    color: black;
    background-color: white;
    transition: 1s;
   }
  
   .attWrap {
    width: 80vw;
    height: 20vh;
    border: 1px white solid;
    margin: 0 auto;
    margin-top: 2em;
    padding: 1em;
   }
  
   .attWrap p {
    font-size: 2em;
    color: white;
   }
  
   .marryWrap {
    margin: 1em;
   }
  
   .about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
   }
  
   .marryWrap img {
    height: 40vh;
    border-radius: 20px;

   }
  
   .about-header * {
    color: white;
   }
  
   .about-header {
    display: inline;
    width: 20vw;
    border: 1px red solid;
    height: 40vh;

   }
  