:root {
  --darkBack: black;
  --lightText: white;
}

body {
  background-color: var(--darkBack);
}

* {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

body * {
  color: black
}
.dark-mode {
  background-color: var(--darkBack);
  color: var(--lightText);
}
.light-text {
color: var(--lightText);
}
.nav-list{
  transition: 1s ease-in-out;
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
}
.placeHolderWrapper{
  display: flex;
  justify-content: center;
  height: 11vh;
  width: 95%;
  padding: none;
  margin: none;
  align-items: center;

}
.navTitle {
  font-size: 5em;
  letter-spacing: .5em;
  color: white;
  padding: none;
  margin: 0;
}

.activeTitle {
  display: block;
}


.menu {
  background-color: white;
  border: none;
  color: black;
  font-size: 3em;
  padding: 1%;
  
 }
li a {
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 3em;
 }
.active {
  display: inline-flex;
  transition: 1s all ease-in;
}

.WebTitle {
  color: white;
  font-size: 10em;
  font-weight: 100;
  width: 80%;
  margin: 0 auto;
  padding: 1em;
  padding-top: .5em;
  transition: 1s ease-in-out;
  margin-bottom: 0;
  padding-bottom: .1em;
}

.WebTitle-big {
  color: white;
  font-size:  12em;
  font-weight: bold;
  letter-spacing: .2em;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  display: block;
  margin-top: 0;
}


/* 
.darkMode {
  width: 5vw;
  color: white;
  background-color: rgb(0,0,0,.0);

  height: 2.2vw;
} */

.skillIMG {
  width: 20vw;
  padding: 0;
  margin: 0;
}

 nav {
  display: flex;
  flex-flow: row nowrap;
  width: 99vw;
  height: 10vhvh;
  border: 1px white solid;
  border-inline: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(0,0,0,.4);
 }

 .skillsGrid * {
  color: white;
  text-align: center;
 }

 .skillsGrid {
  padding: 5%;
  width: 70vw;
  margin: 0 auto;
  gap: 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 20vh));
  justify-content: center;
  align-items: center;
 }
 .skillWrap{
  background-color: rgb(250,250,250,.3);
  padding: 1em;
  border-radius: 30px;
  cursor: pointer;
 }

 .skillH {
  font-size: 3em;
  font-weight: 100;
 }
 .skillP{
  font-size: 2em;
  width: 80%;
  margin: 1em auto;
  font-weight: 100;

 }
 .spacer {
  width: 90vw;
  height: 20vw;
  margin: 0 auto;
 }
 .Subtitle {
  color: white;
  font-size: 5em;
  letter-spacing: .25em;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 15%;
  padding-bottom: .1em;
  border-bottom: 1px solid white;
  font-weight: 100;
 }

 .folderBar {
   display: flex;
   width: 60%;
   margin: 0 auto;
   margin-top: 5em;
  justify-content: space-around;

 }

 h2{
  color: white;
 }

 .folder {
  width: 10em;
  font-size: 2em;
  color: white;
  background-color: rgb(0,0,0,.4);
  border: 1px white solid;
  margin-inline: 1em;
  cursor: pointer;
 }
 .folder:hover {
  color: black;
  background-color: white;
  transition: 1s;
 }

 .attWrap {
  width: 80vw;
  height: 20vh;
  border: 1px white solid;
  margin: 0 auto;
  margin-top: 2em;
  padding: 1em;
 }

 .attWrap p {
  font-size: 2em;
  color: white;
 }

 .marryWrap {
  display: flex;
  margin-top: 8em;
  justify-content: space-around;
  align-items: center;
 }

 .about-page {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .marryWrap img {
  width: 20vw;
  border-radius: 50px;
  display: inline;
  padding: 1em;
  padding-left: 20vw;
 }

 .about-header * {
  color: white;
 }

 .about-header {
  display: inline;
  width: 20vw;
 }


 @media (max-width: 428px) {

  * {
    max-width: 100%;
    /* border: red 1px solid; */
  }

  .placeHolderWrapper {
    width: 80vw;
    font-size: .4em;
    padding-left: 5em;
    font-weight: 100;
    display: none;
  }
  
  .WebTitle {
    font-size: 6em;
    margin: 1em auto;
    padding: 0;
    padding-top: 1em;
    width: 80vw;
  }
  .WebTitle-big {
    font-size: 4em;
    text-align: start;
    margin: 1em auto;
    word-wrap: normal;
  }

  .Subtitle {
    font-size: 2em;
    width: 90vw;
    padding: 0;
  }

  .spacer {
    width: 90vw;
  }

  nav {
    display: flex;
    flex-flow: column nowrap;
    width: 99vw;
    background-color: rgb(0,0,0,.4);
    border-bottom: none;
  }

  .nav-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0;
    width: 99vw;

  }

  li {
    display: flex;
    width: 100vw;
    margin: 0 auto;
    padding: 0;


  }

  .nav-list a {
    text-align: center;
    padding: 0;
    margin: 0 auto;

  }

  .menu {
    width: 100vw;
    font-size: 2em;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .skillsGrid {
    width: 80vw;
    grid-template-columns: repeat(auto-fill, minmax(80vw, 20vh));
    justify-content: center;
    align-items: center;
    margin: 0 auto;

  }

  .skillWrap {
    width: 80vw;
    height: 60vw;
  
  }

  .skillIMG {
    width: 16rem;
  }


 }


