:root {
  --darkBack: black;
  --lightText: white;
}

body {
  background-color: var(--darkBack);
}

* {
  font-family: 'Bebas Neue', cursive;
  color: white;
}

body * {
  color: black
}
.dark-mode {
  background-color: var(--darkBack);
  color: var(--lightText);
}
.light-text {
color: var(--lightText);
}
.nav-list{
  display: none;
  transition: 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  width: 90%;
  display: none;
  transition: 1s all ease-in;
  align-items: center;
  translate: -30em;

}
.placeHolderWrapper{
  display: flex;
  justify-content: center;
  height: 11vh;
  width: 95%;
  padding: none;
  margin: none;
  align-items: center;

}
.navTitle {
  font-size: 5em;
  letter-spacing: .5em;
  color: white;
  padding: none;
  margin: 0;
  display: none;
}
.activeTitle {
  display: block;
}
.menu {
  background-color: white;
  border: none;
  color: black;
  font-size: 3em;
  padding: 1%;
  
 }
li a {
  text-decoration: none;
  color: white;
  font-size: 3em;
 }
.active {
  display: inline-flex;
  transition: 1s all ease-in;
}
/* 
.darkMode {
  width: 5vw;
  color: white;
  background-color: rgb(0,0,0,.0);

  height: 2.2vw;
} */

 nav {
  display: flex;
  flex-flow: row nowrap;
  width: 99vw;
  height: 10vhvh;
  border: 1px white solid;
  border-inline: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(0,0,0,.4);
 }

 .skillsGrid * {
  color: white;
  text-align: center;
 }

 .skillsGrid {
  padding: 5%;
  width: 70vw;
  margin: 0 auto;
  gap: 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 20vh));
  justify-content: center;
  align-items: center;
 }
 .skillWrap{
  background-color: rgb(250,250,250,.3);
  padding: 1em;
  border-radius: 30px;
  cursor: pointer;
 }
 .skillWrap:hover{
  scale: 1.1;
  transition: .1s ease-in-out;
 }

 .skillH {
  font-size: 3em;
  font-weight: 100;
 }
 .skillP{
  font-size: 2em;
  width: 80%;
  margin: 1em auto;
  font-weight: 100;

 }
 .spacer {
  width: 90vw;
  height: 20vw;
  margin: 0 auto;
 }
 .Subtitle {
  color: white;
  font-size: 5em;
  letter-spacing: .25em;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 15%;
  padding-bottom: .1em;
  border-bottom: 1px solid white;
  font-weight: 100;
 }




